mixin title(post)
  if post
    if post.title
      = post.title
    else
      = __('No Title')

mixin paginator(page)
  if page.next || page.prev
    nav.paginator.pure-g
      .paginator__item.pure-u-1-2
        if page.prev
          a(href=url_for(page.prev_link ? page.prev_link : page.prev.path))= __('previous')
      .paginator__item.pure-u-1-2
        if page.next
        a(href=url_for(page.next_link ? page.next_link : page.next.path))= __('next')

mixin post(post, config, detailed)
  - detailed = detailed || false

  article.post
    header
      if detailed
        h1.post__title
          +title(post)
      else
        a(href=url_for(post.path)).post__title
          h2
            +title(post)
    .post__entry
      != post.content
    .post__share
      +twitterShareButton(post, config)
      +facebookShareButton(config.url + url_for(post.path))

mixin introduction(config)
  .introduction
    a(href="/")
      h1.site-title= config.title
    p.introduction__text
      = config.description
      a(href="https://twitter.com/"+config.twitter_id).introduction__twitter
        i.fa.fa-lg.fa-twitter-square

mixin footer(config)
  .footer
    a(href="/")
      h2.site-title= config.title
    p.copyright
      | &copy; 2015&nbsp;
      = config.author
      a(href="https://twitter.com/"+config.twitter_id).copyright__twitter
        i.fa.fa-lg.fa-twitter-square

mixin twitterShareButton(post, config)
  a(
    href="https://twitter.com/share"
    data-text=post.title
    data-url=config.url+url_for(post.path)
    data-via=config.twitter_id
  ).twitter-share-button
    | Tweet
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

mixin facebookSDK(fbAppId)
  #fb-root
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=#{fbAppId}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

mixin facebookShareButton(dataHref)
  div(data-href=dataHref data-layout="button").fb-share-button
